# ignore backup python files and pyc files
*.py.bak
*.pyc

# visual studio code
.vscode

# ignore docs build
docs/build/

# ignore build directories
build/
dist/
resistics.egg-info/

# data directory
tests/testData

# cookbook
cookbook/usingAscii/asciiProject

# exampleProject
examples/tutorial/exampleProject
examples/tutorial/tutorialProject
examples/advanced/preprocessProject
examples/advanced/remoteProject
examples/advanced/intersiteProject
examples/formats/timeData
examples/seedData

