.topic {
    /*background-color: #e7f2fa;*/
    background-color: #ebebeb;   
}

.topic-title {
    /*background-color: #6ab0de;*/
    background-color: grey;
    color: white;
    padding: 5px 10px 5px 10px;
}