/*For the thumbnail size*/
.sphx-glr-thumbcontainer {
  min-height: 370px !important;
  margin: 10px !important;
}
.sphx-glr-thumbcontainer .figure {
  width: 310px !important;
}
.sphx-glr-thumbcontainer img {
  max-height: 300px !important;
  max-width: 290px !important;
  margin: 0px 10px 0px 10px;
}
.sphx-glr-thumbcontainer a.internal {
  padding: 330px 10px 0 !important;
}
